[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=yuki_docker_manager
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Yuki Docker Manager
Comment=A customizable docker manager for DIY your layout.